<h1>Sign in</h1>

<form action='/sessions/new' method='post'>
<label>
  Email: <input type="email" name="email" required >
</label>

<label>
  Password: <input type="password" name="password" >
</label>

<input type='submit' value='sign in'>
</form>

<br>

<a href="/users/recover">
  <h3>Forgotten password?</h3>
  <img src='http://www.eonline.com/eol_images/Entire_Site/2015714/rs_300x300-150814144007-600.Dory-Finding-Nemo.ms.081415.jpg'>
</a>
