<h1>Sign up</h1>

<form action="/users/created" method="post">

  <label>
    Email: <input type="text" name="email" >
  </label>

  <label>
    Password: <input type="password" name="password" >
  </label>

  <label>
    Confirm password: <input type="password" name="password_confirmation" >
  </label>

  <input type='submit' value='sign up'>

</form>
