<h1> Add a new Bookmark </h1>

<form action="/links" method="post">
  <input type="text" name="bookmark_title" value="Bookmark title" />
  <input type="text" name="link_url" value="Link url" />
  <input type="text" name="tag" value="tag" />
  <input type="submit" value="Submit" />
</form>
